<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ARTICLE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DoLoginServlet</display-name>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessLoginServlet</display-name>
    <servlet-name>SuccessLoginServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.SuccessLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessLoginServlet</servlet-name>
    <url-pattern>/successLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegisterServlet</display-name>
    <servlet-name>DoRegisterServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.DoRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegisterServlet</servlet-name>
    <url-pattern>/doRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLogoutServlet</display-name>
    <servlet-name>DoLogoutServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.DoLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogoutServlet</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailServlet</display-name>
    <servlet-name>ShowDetailServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.ShowDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailServlet</servlet-name>
    <url-pattern>/showDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHitServlet</display-name>
    <servlet-name>AddHitServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.AddHitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHitServlet</servlet-name>
    <url-pattern>/addHit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRecommendServlet</display-name>
    <servlet-name>AddRecommendServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.AddRecommendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRecommendServlet</servlet-name>
    <url-pattern>/addRecommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteServlet</display-name>
    <servlet-name>DoWriteServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.DoWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteServlet</servlet-name>
    <url-pattern>/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateServlet</display-name>
    <servlet-name>DoUpdateServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.DoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateServlet</servlet-name>
    <url-pattern>/doUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.oph.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>com.ktds.oph.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMemberServlet</display-name>
    <servlet-name>ShowMemberServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.ShowMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMemberServlet</servlet-name>
    <url-pattern>/showMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MassiveDeleteServlet</display-name>
    <servlet-name>MassiveDeleteServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.MassiveDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassiveDeleteServlet</servlet-name>
    <url-pattern>/massiveDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberModifyServlet</display-name>
    <servlet-name>MemberModifyServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.MemberModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberModifyServlet</servlet-name>
    <url-pattern>/memberModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailMemberServlet</display-name>
    <servlet-name>DetailMemberServlet</servlet-name>
    <servlet-class>com.ktds.oph.member.web.DetailMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailMemberServlet</servlet-name>
    <url-pattern>/detailMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnivListServlet</display-name>
    <servlet-name>UnivListServlet</servlet-name>
    <servlet-class>com.ktds.oph.univ.web.UnivListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnivListServlet</servlet-name>
    <url-pattern>/univList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MassiveUnivDeleteServlet</display-name>
    <servlet-name>MassiveUnivDeleteServlet</servlet-name>
    <servlet-class>com.ktds.oph.univ.web.MassiveUnivDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassiveUnivDeleteServlet</servlet-name>
    <url-pattern>/massiveUnivDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUnivNameServlet</display-name>
    <servlet-name>UpdateUnivNameServlet</servlet-name>
    <servlet-class>com.ktds.oph.univ.web.UpdateUnivNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUnivNameServlet</servlet-name>
    <url-pattern>/updateUnivName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterNewUnivServlet</display-name>
    <servlet-name>RegisterNewUnivServlet</servlet-name>
    <servlet-class>com.ktds.oph.univ.web.RegisterNewUnivServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterNewUnivServlet</servlet-name>
    <url-pattern>/registerNewUniv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowClaimArticleServlet</display-name>
    <servlet-name>ShowClaimArticleServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.ShowClaimArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowClaimArticleServlet</servlet-name>
    <url-pattern>/showClaimArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailClaimArticleServlet</display-name>
    <servlet-name>DetailClaimArticleServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.DetailClaimArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailClaimArticleServlet</servlet-name>
    <url-pattern>/detailClaimArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailClaimReplyServlet</display-name>
    <servlet-name>DetailClaimReplyServlet</servlet-name>
    <servlet-class>com.ktds.oph.reply.web.DetailClaimReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailClaimReplyServlet</servlet-name>
    <url-pattern>/detailClaimReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSurveyServlet</display-name>
    <servlet-name>InsertSurveyServlet</servlet-name>
    <servlet-class>com.ktds.oph.survey.web.InsertSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSurveyServlet</servlet-name>
    <url-pattern>/insertSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoInsertSurveyServlet</display-name>
    <servlet-name>DoInsertSurveyServlet</servlet-name>
    <servlet-class>com.ktds.oph.survey.web.DoInsertSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoInsertSurveyServlet</servlet-name>
    <url-pattern>/doInsertSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajorGroupListServlet</display-name>
    <servlet-name>MajorGroupListServlet</servlet-name>
    <servlet-class>com.ktds.oph.major.web.MajorGroupListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajorGroupListServlet</servlet-name>
    <url-pattern>/majorGroupList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailMajorServlet</display-name>
    <servlet-name>DetailMajorServlet</servlet-name>
    <servlet-class>com.ktds.oph.major.web.DetailMajorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailMajorServlet</servlet-name>
    <url-pattern>/detailMajor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyListServlet</display-name>
    <servlet-name>SurveyListServlet</servlet-name>
    <servlet-class>com.ktds.oph.survey.web.SurveyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyListServlet</servlet-name>
    <url-pattern>/surveyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailSurveyServlet</display-name>
    <servlet-name>DetailSurveyServlet</servlet-name>
    <servlet-class>com.ktds.oph.survey.web.DetailSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailSurveyServlet</servlet-name>
    <url-pattern>/detailSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifySurveyServlet</display-name>
    <servlet-name>ModifySurveyServlet</servlet-name>
    <servlet-class>com.ktds.oph.survey.web.ModifySurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifySurveyServlet</servlet-name>
    <url-pattern>/modifySurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyMassiveDeleteServlet</display-name>
    <servlet-name>SurveyMassiveDeleteServlet</servlet-name>
    <servlet-class>com.ktds.oph.survey.web.SurveyMassiveDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyMassiveDeleteServlet</servlet-name>
    <url-pattern>/surveyMassiveDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>RegisterNewMajorGroupServlet</display-name>
    <servlet-name>RegisterNewMajorGroupServlet</servlet-name>
    <servlet-class>com.ktds.oph.major.web.RegisterNewMajorGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterNewMajorGroupServlet</servlet-name>
    <url-pattern>/registerNewMajorGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMajorGroupNameServlet</display-name>
    <servlet-name>UpdateMajorGroupNameServlet</servlet-name>
    <servlet-class>com.ktds.oph.major.web.UpdateMajorGroupNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMajorGroupNameServlet</servlet-name>
    <url-pattern>/updateMajorGroupName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MassiveMajorGroupDeleteServlet</display-name>
    <servlet-name>MassiveMajorGroupDeleteServlet</servlet-name>
    <servlet-class>com.ktds.oph.major.web.MassiveMajorGroupDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassiveMajorGroupDeleteServlet</servlet-name>
    <url-pattern>/massiveMajorGroupDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterNewMajorServlet</display-name>
    <servlet-name>RegisterNewMajorServlet</servlet-name>
    <servlet-class>com.ktds.oph.major.web.RegisterNewMajorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterNewMajorServlet</servlet-name>
    <url-pattern>/registerNewMajor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMajorNameServlet</display-name>
    <servlet-name>UpdateMajorNameServlet</servlet-name>
    <servlet-class>com.ktds.oph.major.web.UpdateMajorNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMajorNameServlet</servlet-name>
    <url-pattern>/updateMajorName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MassiveMajorDeleteServlet</display-name>
    <servlet-name>MassiveMajorDeleteServlet</servlet-name>
    <servlet-class>com.ktds.oph.major.web.MassiveMajorDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassiveMajorDeleteServlet</servlet-name>
    <url-pattern>/massiveMajorDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ArticleTypeListServlet</display-name>
    <servlet-name>ArticleTypeListServlet</servlet-name>
    <servlet-class>com.ktds.oph.article.web.ArticleTypeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleTypeListServlet</servlet-name>
    <url-pattern>/articleTypeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProhibitedWordServlet</display-name>
    <servlet-name>InsertProhibitedWordServlet</servlet-name>
    <servlet-class>com.ktds.oph.prohibitedWord.web.InsertProhibitedWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProhibitedWordServlet</servlet-name>
    <url-pattern>/insertProhibitedWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoInsertProhibitedWordServlet</display-name>
    <servlet-name>DoInsertProhibitedWordServlet</servlet-name>
    <servlet-class>com.ktds.oph.prohibitedWord.web.DoInsertProhibitedWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoInsertProhibitedWordServlet</servlet-name>
    <url-pattern>/doInsertProhibitedWord</url-pattern>
  </servlet-mapping>

</web-app>