<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Curtain</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentMajorAritlceServlet</display-name>
    <servlet-name>StudentMajorAritlceServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.StudentMajorAritlceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMajorAritlceServlet</servlet-name>
    <url-pattern>/studentMajorAritlce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistMemberServlet</display-name>
    <servlet-name>RegistMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.RegistStdMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistMemberServlet</servlet-name>
    <url-pattern>/registStdMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegistMemberServlet</display-name>
    <servlet-name>DoRegistMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.DoRegistStdMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegistMemberServlet</servlet-name>
    <url-pattern>/doRegistStdMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionAndAnswerServlet</display-name>
    <servlet-name>QuestionAndAnswerServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.QuestionAndAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionAndAnswerServlet</servlet-name>
    <url-pattern>/questionAndAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteArticleServlet</display-name>
    <servlet-name>WriteArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.WriteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteArticleServlet</servlet-name>
    <url-pattern>/writeArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthNumCheckServlet</display-name>
    <servlet-name>AuthNumCheckServlet</servlet-name>
    <servlet-class>com.ktds.curtain.auth.web.AuthNumCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthNumCheckServlet</servlet-name>
    <url-pattern>/authNumCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthNumSendServlet</display-name>
    <servlet-name>AuthNumSendServlet</servlet-name>
    <servlet-class>com.ktds.curtain.auth.web.AuthNumSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthNumSendServlet</servlet-name>
    <url-pattern>/authNumSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterQuestionServlet</display-name>
    <servlet-name>RegisterQuestionServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.RegisterQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterQuestionServlet</servlet-name>
    <url-pattern>/registerQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUnivSearchServlet</display-name>
    <servlet-name>DoUnivSearchServlet</servlet-name>
    <servlet-class>com.ktds.curtain.univ.web.DoUnivSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUnivSearchServlet</servlet-name>
    <url-pattern>/doUnivSearch</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.curtain.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoMajorSearchServlet</display-name>
    <servlet-name>DoMajorSearchServlet</servlet-name>
    <servlet-class>com.ktds.curtain.major.web.DoMajorSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoMajorSearchServlet</servlet-name>
    <url-pattern>/doMajorSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegisterQuestionServlet</display-name>
    <servlet-name>DoRegisterQuestionServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.DoRegisterQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegisterQuestionServlet</servlet-name>
    <url-pattern>/doRegisterQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageServlet</display-name>
    <servlet-name>MyPageServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.MyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageServlet</servlet-name>
    <url-pattern>/myPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyScrabArticleServlet</display-name>
    <servlet-name>MyScrabArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.MyScrabArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyScrabArticleServlet</servlet-name>
    <url-pattern>/myPage/myScrabArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMemberServlet</display-name>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.ModifyMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <url-pattern>/myPage/modifyMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyWriteArticleServlet</display-name>
    <servlet-name>MyWriteArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.MyWriteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyWriteArticleServlet</servlet-name>
    <url-pattern>/myPage/myWriteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyLikesArticleServlet</display-name>
    <servlet-name>MyLikesArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.MyLikesArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLikesArticleServlet</servlet-name>
    <url-pattern>/myPage/myLikesArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUnivCheckServlet</display-name>
    <servlet-name>DoUnivCheckServlet</servlet-name>
    <servlet-class>com.ktds.curtain.univ.web.DoUnivCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUnivCheckServlet</servlet-name>
    <url-pattern>/doUnivCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUnivArticleServlet</display-name>
    <servlet-name>StudentUnivArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.StudentUnivArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUnivArticleServlet</servlet-name>
    <url-pattern>/studentUnivArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecretWriteArticleServlet</display-name>
    <servlet-name>SecretWriteArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.SecretWriteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretWriteArticleServlet</servlet-name>
    <url-pattern>/secretWriteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecretBoardServlet</display-name>
    <servlet-name>SecretBoardServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.SecretBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretBoardServlet</servlet-name>
    <url-pattern>/secretBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecretArticleListServlet</display-name>
    <servlet-name>SecretArticleListServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.SecretArticleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretArticleListServlet</servlet-name>
    <url-pattern>/secretArticleList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMemberInfoServlet</display-name>
    <servlet-name>ModifyMemberInfoServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.ModifyMemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMemberInfoServlet</servlet-name>
    <url-pattern>/modifyMemberInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMemberPasswordServlet</display-name>
    <servlet-name>ModifyMemberPasswordServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.ModifyMemberPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMemberPasswordServlet</servlet-name>
    <url-pattern>/modifyMemberPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegistCompMemberServlet</display-name>
    <servlet-name>DoRegistCompMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.DoRegistCompMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegistCompMemberServlet</servlet-name>
    <url-pattern>/doRegistCompMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompAuthNumCheckServlet</display-name>
    <servlet-name>CompAuthNumCheckServlet</servlet-name>
    <servlet-class>com.ktds.curtain.auth.web.CompAuthNumCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompAuthNumCheckServlet</servlet-name>
    <url-pattern>/compAuthNumCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompAuthNumSendServlet</display-name>
    <servlet-name>CompAuthNumSendServlet</servlet-name>
    <servlet-class>com.ktds.curtain.auth.web.CompAuthNumSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompAuthNumSendServlet</servlet-name>
    <url-pattern>/compAuthNumSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCompCheckServlet</display-name>
    <servlet-name>DoCompCheckServlet</servlet-name>
    <servlet-class>com.ktds.curtain.univ.web.DoCompCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCompCheckServlet</servlet-name>
    <url-pattern>/doCompCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMyQuestionsServlet</display-name>
    <servlet-name>ShowMyQuestionsServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.ShowMyQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMyQuestionsServlet</servlet-name>
    <url-pattern>/myQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DislikeServlet</display-name>
    <servlet-name>DislikeServlet</servlet-name>
    <servlet-class>com.ktds.curtain.articleDislike.web.DislikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DislikeServlet</servlet-name>
    <url-pattern>/dislike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailServlet</display-name>
    <servlet-name>ShowDetailServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.ShowDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailServlet</servlet-name>
    <url-pattern>/showDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeServlet</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>com.ktds.curtain.articleLike.web.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/like</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleLikeBiz</display-name>
    <servlet-name>ArticleLikeBiz</servlet-name>
    <servlet-class>com.ktds.curtain.articleLike.biz.ArticleLikeBiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleLikeBiz</servlet-name>
    <url-pattern>/ArticleLikeBiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLoginServlet</display-name>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HitsCountServlet</display-name>
    <servlet-name>HitsCountServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.HitsCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HitsCountServlet</servlet-name>
    <url-pattern>/hitsCount</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CheckMyQuestionServlet</display-name>
    <servlet-name>CheckMyQuestionServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.CheckMyQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMyQuestionServlet</servlet-name>
    <url-pattern>/checkMyQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailMyQuestionServlet</display-name>
    <servlet-name>ShowDetailMyQuestionServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.ShowDetailMyQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailMyQuestionServlet</servlet-name>
    <url-pattern>/showDetailMyQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPasswordServlet</display-name>
    <servlet-name>FindPasswordServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.FindPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPasswordServlet</servlet-name>
    <url-pattern>/findPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSendPasswordServlet</display-name>
    <servlet-name>DoSendPasswordServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.DoSendPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSendPasswordServlet</servlet-name>
    <url-pattern>/doSendPassword</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>com.ktds.curtain.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoLogoutServlet</display-name>
    <servlet-name>DoLogoutServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.DoLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogoutServlet</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DuplicationCheckNickNameServlet</display-name>
    <servlet-name>DuplicationCheckNickNameServlet</servlet-name>
    <servlet-class>com.ktds.curtain.dupl.web.DuplicationCheckNickNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuplicationCheckNickNameServlet</servlet-name>
    <url-pattern>/duplicationCheckNickName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyServlet</display-name>
    <servlet-name>SurveyServlet</servlet-name>
    <servlet-class>com.ktds.curtain.survey.web.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyServlet</servlet-name>
    <url-pattern>/survey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticleServlet</display-name>
    <servlet-name>DeleteArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.DeleteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticleServlet</servlet-name>
    <url-pattern>/deleteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateArticleServlet</display-name>
    <servlet-name>UpdateArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.UpdateArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticleServlet</servlet-name>
    <url-pattern>/updateArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoTodaySurveyServlet</display-name>
    <servlet-name>DoTodaySurveyServlet</servlet-name>
    <servlet-class>com.ktds.curtain.survey.web.DoTodaySurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoTodaySurveyServlet</servlet-name>
    <url-pattern>/doTodaySurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>com.ktds.curtain.file.web.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/deleteFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteReplyServlet</display-name>
    <servlet-name>DoWriteReplyServlet</servlet-name>
    <servlet-class>com.ktds.curtain.reply.web.DoWriteReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteReplyServlet</servlet-name>
    <url-pattern>/doWriteReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateArticleServlet</display-name>
    <servlet-name>DoUpdateArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.DoUpdateArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateArticleServlet</servlet-name>
    <url-pattern>/doUpdateArticle</url-pattern>
  </servlet-mapping>
</web-app>