<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Curtain</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentMajorAritlceServlet</display-name>
    <servlet-name>StudentMajorAritlceServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.StudentMajorAritlceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMajorAritlceServlet</servlet-name>
    <url-pattern>/studentMajorAritlce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistMemberServlet</display-name>
    <servlet-name>RegistMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.RegistStdMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistMemberServlet</servlet-name>
    <url-pattern>/registStdMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegistMemberServlet</display-name>
    <servlet-name>DoRegistMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.DoRegistStdMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegistMemberServlet</servlet-name>
    <url-pattern>/doRegistStdMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionAndAnswerServlet</display-name>
    <servlet-name>QuestionAndAnswerServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.QuestionAndAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionAndAnswerServlet</servlet-name>
    <url-pattern>/questionAndAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteArticleServlet</display-name>
    <servlet-name>WriteArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.WriteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteArticleServlet</servlet-name>
    <url-pattern>/writeArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthNumCheckServlet</display-name>
    <servlet-name>AuthNumCheckServlet</servlet-name>
    <servlet-class>com.ktds.curtain.auth.web.AuthNumCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthNumCheckServlet</servlet-name>
    <url-pattern>/authNumCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthNumSendServlet</display-name>
    <servlet-name>AuthNumSendServlet</servlet-name>
    <servlet-class>com.ktds.curtain.auth.web.AuthNumSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthNumSendServlet</servlet-name>
    <url-pattern>/authNumSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterQuestionServlet</display-name>
    <servlet-name>RegisterQuestionServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.RegisterQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterQuestionServlet</servlet-name>
    <url-pattern>/registerQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUnivSearchServlet</display-name>
    <servlet-name>DoUnivSearchServlet</servlet-name>
    <servlet-class>com.ktds.curtain.univ.web.DoUnivSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUnivSearchServlet</servlet-name>
    <url-pattern>/doUnivSearch</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.curtain.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoMajorSearchServlet</display-name>
    <servlet-name>DoMajorSearchServlet</servlet-name>
    <servlet-class>com.ktds.curtain.major.web.DoMajorSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoMajorSearchServlet</servlet-name>
    <url-pattern>/doMajorSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegisterQuestionServlet</display-name>
    <servlet-name>DoRegisterQuestionServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.DoRegisterQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegisterQuestionServlet</servlet-name>
    <url-pattern>/doRegisterQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageServlet</display-name>
    <servlet-name>MyPageServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.MyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageServlet</servlet-name>
    <url-pattern>/myPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyScrabArticleServlet</display-name>
    <servlet-name>MyScrabArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.MyScrabArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyScrabArticleServlet</servlet-name>
    <url-pattern>/myPage/myScrabArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMemberServlet</display-name>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.ModifyMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <url-pattern>/myPage/modifyMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyWriteArticleServlet</display-name>
    <servlet-name>MyWriteArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.MyWriteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyWriteArticleServlet</servlet-name>
    <url-pattern>/myPage/myWriteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyLikesArticleServlet</display-name>
    <servlet-name>MyLikesArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.MyLikesArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLikesArticleServlet</servlet-name>
    <url-pattern>/myPage/myLikesArticle</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>StudentUnivArticleServlet</display-name>
    <servlet-name>StudentUnivArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.StudentUnivArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUnivArticleServlet</servlet-name>
    <url-pattern>/studentUnivArticle</url-pattern>
  </servlet-mapping>

    <servlet>
    <description></description>
    <display-name>SecretWriteArticleServlet</display-name>
    <servlet-name>SecretWriteArticleServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.SecretWriteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretWriteArticleServlet</servlet-name>
    <url-pattern>/secretWriteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecretBoardServlet</display-name>
    <servlet-name>SecretBoardServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.SecretBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretBoardServlet</servlet-name>
    <url-pattern>/secretBoard</url-pattern>
  </servlet-mapping>

</web-app>