@CHARSET "UTF-8";


.btn,.btn-default{
	border-color: #FF3300;
	color: #FF3300;	
}

.btn-xs{
	border-color: #a5a5a5;
	color:#a5a5a5;
}

h6 {
	color: #434343;
	
}
#imagePreview {
	border: 2px dotted #A9D039;
	width: 200px;
	height: 200px;
	color: #92AAB0;
	text-align: left;
	vertical-align: middle;
	padding: 10px 10px 10 10px;
	margin-bottom: 10px;
	font-size:100%;
}

.glyphicon {
	color:#7d7d7d;
	cursor:pointer;	
}
.desc{
 	width: 175px;
    height:90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 
 .w3-row{
	 background-color: white; 
 }