<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Curtain</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentMajorAritlceServlet</display-name>
    <servlet-name>StudentMajorAritlceServlet</servlet-name>
    <servlet-class>com.ktds.curtain.article.web.StudentMajorAritlceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMajorAritlceServlet</servlet-name>
    <url-pattern>/studentMajorAritlce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistMemberServlet</display-name>
    <servlet-name>RegistMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.RegistStdMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistMemberServlet</servlet-name>
    <url-pattern>/registStdMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegistMemberServlet</display-name>
    <servlet-name>DoRegistMemberServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.DoRegistStdMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegistMemberServlet</servlet-name>
    <url-pattern>/doRegistStdMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionAndAnswerServlet</display-name>
    <servlet-name>QuestionAndAnswerServlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.QuestionAndAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionAndAnswerServlet</servlet-name>
    <url-pattern>/questionAndAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthNumCheckServlet</display-name>
    <servlet-name>AuthNumCheckServlet</servlet-name>
    <servlet-class>com.ktds.curtain.auth.web.AuthNumCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthNumCheckServlet</servlet-name>
    <url-pattern>/authNumCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthNumSendServlet</display-name>
    <servlet-name>AuthNumSendServlet</servlet-name>
    <servlet-class>com.ktds.curtain.auth.web.AuthNumSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthNumSendServlet</servlet-name>
    <url-pattern>/authNumSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoQuestionservlet</display-name>
    <servlet-name>DoQuestionservlet</servlet-name>
    <servlet-class>com.ktds.curtain.qa.web.DoQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoQuestionservlet</servlet-name>
    <url-pattern>/doQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyMember</display-name>
    <servlet-name>ModifyMember</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.ModifyMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyMember</servlet-name>
    <url-pattern>/myPage/modifyMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPageServlet</display-name>
    <servlet-name>MyPageServlet</servlet-name>
    <servlet-class>com.ktds.curtain.member.web.MyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPageServlet</servlet-name>
    <url-pattern>/myPage</url-pattern>
  </servlet-mapping>
</web-app>