@CHARSET "UTF-8";

#imagePreview {
	border: 2px dotted #A9D039;
	width: 200px;
	height: 200px;
	color: #92AAB0;
	text-align: left;
	vertical-align: middle;
	padding: 10px 10px 10 10px;
	margin-bottom: 10px;
	font-size:100%;
}